<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - QuoteApp</title>
      {% else %}
      <title>QuoteApp</title>
      {% endif %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
      <nav class="nav navbar-dark" style="background-color: #02000d; padding: 0.5em;">
          <a class="navbar-brand" style="color: white; font-size:26px;" href="/">QuoteApp</a>
          <a class="nav-link" style="color: white; font-size:22px;" href="/about">About</a>
          <a class="nav-link" style="color: white; font-size:22px;" href="/help">Help</a>
      </nav>
        <br>
        <center><h1 style="color: white;">Motivational Quote Recommender</h1></center>
        {% with messages = get_flashed_messages() %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>