{% extends "base.html" %}

{% block content %}
<style>
    body {
      background-image: url('/static/22.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
    <div class="d-flex justify-content-center">
        <form class='card bg-light p-4 h-100 border-dark mb-3' action="" method="POST">
            {{ form.hidden_tag() }}        
            <div class="form-group">
                <label style="font-size:18px;">What is your goal at the moment?</label>
                {{ form.goal(class_="form-control") }}
            </div>
            <div class="form-group col-md-8" style="padding-left: 0">
                <label style="margin-bottom: 0; font-size: 18px">Enter a keyword relating to your goal or the topic for your quote:</label>
                <small class="form-text text-muted" style="font-size: 14px;">Do not include numbers, special chracters or spaces</small>
                {{ form.keyword(class_="form-control") }}
            </div>
            <p>{{ form.submitAI1(class_="btn btn-primary", style_="font-size:18px;")}} <button type="button" class="btn btn-info" style="font-size:18px;"  id="AI2"> Generate Quote AI2</button></p>
        </form>
    </div>
    
    <script>
        // ...

        document.getElementById("AI2").addEventListener("click", function(){
            const goal = document.getElementById("goal").value
            window.location= `/quote?goal=${goal}`
        })

    </script>

{% endblock %}

