{% extends "base.html" %}

{% block content %}

<style>
    body {
      background-image: url('/static/22.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>

<div class="d-flex justify-content-center">
    <center>
    <div class="container">
        <div class="row">
        <div class='card p-4 h-100 w-100 border-dark mb-3' style="max-width: 34rem; background-color: #f7f7f7;">  
            <h2>Your Goal </h2>
            <hr>
            <p class="h5">{{goal}}</p>
        </div>
        </div>
        <div class="row">
        <div class='card text-black p-4 h-100 w-100 border-dark mb-3' style="max-width: 34rem; min-width: 34rem; background-color: #3bb0ff;">
            <h2> Your Quote </h2>
            <hr>
            <p class="h5">"{{quote}}"</p>
        </div>
        </div>
        <button class="btn btn-danger" style="font-size:18px;" id="alert" onclick="myfunction()"><i class="fa fa-bell-o"></i> Alert</button> <button class="btn btn-secondary" style="font-size:18px;" id="refresh" onclick="refresh()"><i class="fa fa-refresh"></i> Generate New Quote</button>
        <p style="color: white; font-size: 18px; max-width: 32rem;"> Please complete the questionnaire once your quote has been generated </p>
        <div class="d-flex justify-content-center"> 
            <i class="fa fa-arrow-right" style="font-size:40px; color:white; margin-right: 0.5em;"></i>
            <input type="button" class="btn btn-warning" style="font-size: 24px;" onclick="window.open('https://forms.gle/Jv3tq1r7XKyHk5gJ7','_blank')" value="Go to Questionnaire" />
            <i class="fa fa-arrow-left" style="font-size:40px; color:white; margin-left: 0.5em;"></i> 
        </div>
     </div>
</center>
</div>

<script>
    //push notifcation
    function myfunction(){
        var x = 0;
        alert("Your goal is: {{goal}} \n\nYour quote is: {{quote}}");

        var intervalID = setInterval(function() {alert("your goal is: {{goal}} /nYour quote is: {{quote}}"); if(++x === 3){
            window.clearInterval(intervalID);    
        }},600000); //10 minutes
}

function refresh(){
    window.history.back();
}
</script>

{% endblock %}
